body {
  background-color: #320f0d ;
  color: #fff;
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.About {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 150px;
}

.imgg {
    width: 300px;
    height: 400px;
}

.pic {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.write {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
  
